.img-fluid{
    border-radius: 50px;
} 
.ani{
  padding-top: 2em;
    display: flex;
    justify-content: center;
  }

  /* DEMO-SPECIFIC STYLES */
  .typewriter h1 {
    width: auto;
    color: black;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid #0d6efd; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: 1px;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .1s step-end infinite;
    animation-iteration-count: 2;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #0d6efd }
  }

.final a{
  text-decoration: none;
  color: black;
  
}


.catego a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.twowheeler.col{
 height: 100px;
}

